section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

div {
    background-color: burlywood;
    height: 70px;
    width: 70px;
    /* display: flex; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.day {
    height: 50px;
}